/* ======== Global ======== */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.cta-button {
  background-color: white;
  color: #FF5349; 
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #FF5349;
  padding: 1rem 0;
  display: flex;
  position: relative;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  color: #f8f5f5;
}

.logo-image {
  width: 50px; /* adjust as needed */
  height: auto;
  justify-content: center;
}

/* ======== Hero Section ======== */

.hero {
  background-color: #FF5349;
  height: auto;
  color: #fff;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

.hero-text {
  flex: 1;
  max-width: 550px;
}

.hero-text h1 {
  font-size: 4rem;
  width: 600px;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  width: 700px;
  margin-bottom: 2rem;
}

.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
  left: 450px;
    top: 100px;
    position: relative;
}

.hero-image img {
  height: 650px;
  max-width: 450px;
  width: 100%;
}

.label-top {
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: large;
font-weight: bolder;
gap: 0.67px;

position: absolute;
width: 300px;
height: 70px;
left: -140px;
top: 35.66px;
color: black;

/* White */
background: #FFFFFF;
box-shadow: 18.6667px 20px 29.3333px rgba(0, 0, 0, 0.1);
border-radius: 21.3333px;

}

/* Position the bottom label */
.label-bottom {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: large;
font-weight: bolder;
gap: 2.67px;

position: absolute;
width: 300px;
height: 85px;
left: 120px;
top: 420.33px;
color: black;

background: #FFFFFF;
box-shadow: 18.6667px 20px 29.3333px rgba(0, 0, 0, 0.1);
border-radius: 21.3333px;

}
