/* ======== Global ======== */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

.cta-button {
  background-color: white;
  color: #FF5349; 
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #FF5349;
  padding: 1rem 0;
  display: flex;
  position: relative;
  top: 0;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  font-size: 1.8rem;
  font-weight: 700;
  justify-content: center;
  text-align: center;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
  color: #f8f5f5;
}

.logo-image {
  width: 50px; /* adjust as needed */
  height: auto;
  justify-content: center;
}

